body {
    background-color:#1d1d1d;
    width:100%;
    height:750px;
    
}
h1{
    text-align:center;
    font-size:60px;
    color:white;
}
image{
    width:5px;
    height:5px;
}
table{
    margin:auto;
}
.stam1::-webkit-scrollbar {
    display: none;
    overflow: scroll;
}
td, tr {
    /* border-style: none;*/
    padding: 80px;
    width: 150PX;
    height: 180px;
    border: 10px solid;
    border-color: #1d1d1d;
}
#div:hover{
}
#div1 {
    background-image: url('../תמונות בוקריה/תמונה 1.jpg');
    padding-right:100px;
 
    
}
    #div1:hover {
        background-position: 80% 80%;
    }
    
#div2 {
    background-image: url('../תמונות בוקריה/תמונה 10.jpg');
    padding-right: 100px;
}
#div2:hover {
    background-position: 80% 80%;
}
#div3 {
    background-image: url('../תמונות בוקריה/תמונה 11.jpg');
}
#div3:hover {
    background-position: 80% 80%;
}
#div4 {
    background-image: url('../תמונות בוקריה/תמונה 12.jpg');
}
#div4:hover {
    background-position: 80% 80%;
}
#div5 {
    background-image: url('../תמונות בוקריה/תמונה 13.jpg');
}
#div5:hover {
    background-position: 80% 80%;
}
#div6 {
    background-image: url('../תמונות בוקריה/תמונה 14.jpg');
}
#div6:hover {
    background-position: 80% 80%;
}
#div7 {
    background-image: url('../תמונות בוקריה/תמונה 15.jpg');
}
#div7:hover {
    background-position: 80% 80%;
}
#div8 {
    background-image: url('../תמונות בוקריה/תמונה 16.jpg');
}
#div8:hover {
    background-position: 80% 80%;
}
#div9 {
    background-image: url('../תמונות בוקריה/תמונה 17.jpg');
}
#div9:hover {
    background-position: 80% 80%;
}
#div10 {
    background-image: url('../תמונות בוקריה/תמונה 18.jpg');
}
#div10:hover {
    background-position: 80% 80%;
}
#div11 {
    background-image: url('../תמונות בוקריה/תמונה 2.jpg');
}
#div11:hover {
    background-position: 80% 80%;
}
#div12 {
    background-image: url('../תמונות בוקריה/תמונה 3.jpg');
  
}
#div12:hover {
    background-position: 80% 80%;
}
#div13 {
    background-image: url('../תמונות בוקריה/תמונה 4.jpg');
}
#div13:hover {
    background-position: 80% 80%;
}
#div14 {
    background-image: url('../תמונות בוקריה/תמונה 5.jpg');
}
#div14:hover {
    background-position: 80% 80%;
}
#div15 {
    background-image: url('../תמונות בוקריה/תמונה 6.jpg');
}
#div15:hover {
    background-position: 80% 80%;
}
#div16 {
    background-image: url('../תמונות בוקריה/תמונה 7.jpg');
}
#div16:hover {
    background-position: 80% 80%;
}
#div17 {
    background-image: url('../תמונות בוקריה/תמונה 8.jpg');
}
#div17:hover {
    background-position: 80% 80%;
}
#div18 {
    background-image: url('../תמונות בוקריה/תמונה 9.jpg');
}
#div18:hover {
    background-position: 80% 80%;
}
#div19 {
    background-image: url('../תמונות בוקריה/תמונה19.jpg');
}
#div19:hover {
    background-position: 80% 80%;
}
#div20 {
    background-image: url('../תמונות בוקריה/תמונה 20.jpg');
}
#div20:hover {
    background-position: 80% 80%;
}
#div21 {
    background-image: url('../תמונות בוקריה/תמונה 21.jpg');
}
#div21:hover {
    background-position: 80% 80%;
}
